In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from mapsconfig import gkey

In [2]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [3]:
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Souillac,-20.5167,57.5167,75.58,88,20,2.30,MU,2021-12-18 20:47:45
1,1,Teberda,43.4456,41.7448,32.65,88,100,5.86,RU,2021-12-18 20:47:45
2,2,Vaini,-21.2000,-175.2000,84.36,89,20,11.50,TO,2021-12-18 20:47:46
3,3,Beni Suef,29.0731,31.0979,52.66,55,0,8.57,EG,2021-12-18 20:47:46
4,4,Georgetown,5.4112,100.3354,77.95,88,40,1.01,MY,2021-12-18 20:47:46

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Souillac,-20.5167,57.5167,75.58,88,20,2.30,MU,2021-12-18 20:47:45
2,2,Vaini,-21.2000,-175.2000,84.36,89,20,11.50,TO,2021-12-18 20:47:46
4,4,Georgetown,5.4112,100.3354,77.95,88,40,1.01,MY,2021-12-18 20:47:46
7,7,Kavieng,-2.5744,150.7967,80.98,79,98,5.84,PG,2021-12-18 20:47:47
17,17,Karratha,-20.7377,116.8463,86.99,26,6,6.24,AU,2021-12-18 20:43:56
23,23,Mahebourg,-20.4081,57.7000,75.49,88,20,2.30,MU,2021-12-18 20:47:52
26,26,Avarua,-21.2078,-159.7750,80.65,74,75,8.05,CK,2021-12-18 20:47:53
30,30,Dondo,-19.6094,34.7431,78.31,70,99,7.81,MZ,2021-12-18 20:47:54
34,34,Luba,3.4568,8.5547,78.69,75,99,5.14,GQ,2021-12-18 20:47:55
35,35,Puerto Ayora,-0.7393,-90.3518,78.76,87,83,5.99,EC,2021-12-18 20:47:56

In [14]:
preferred_cities_df.count()

City_ID       170
City          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
Country       170
Date          170
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0       Souillac      MU     75.58 -20.5167   57.5167
2          Vaini      TO     84.36 -21.2000 -175.2000
4     Georgetown      MY     77.95   5.4112  100.3354
7        Kavieng      PG     80.98  -2.5744  150.7967
17      Karratha      AU     86.99 -20.7377  116.8463
23     Mahebourg      MU     75.49 -20.4081   57.7000
26        Avarua      CK     80.65 -21.2078 -159.7750
30         Dondo      MZ     78.31 -19.6094   34.7431
34          Luba      GQ     78.69   3.4568    8.5547
35  Puerto Ayora      EC     78.76  -0.7393  -90.3518

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [21]:
hotel_df

           City Country  Max Temp      Lat       Lng Hotel Name
0      Souillac      MU     75.58 -20.5167   57.5167
2         Vaini      TO     84.36 -21.2000 -175.2000
4    Georgetown      MY     77.95   5.4112  100.3354
7       Kavieng      PG     80.98  -2.5744  150.7967
17     Karratha      AU     86.99 -20.7377  116.8463
..          ...     ...       ...      ...       ...        ...
549     Bibiani      GH     77.14   6.4635   -2.3194
553   Loandjili      CG     77.65  -4.7561   11.8578
560     Sechura      PE     77.76  -5.5569  -80.8222
562     Cabacao      PH     78.69  13.3356  120.6588
565     Sambava      MG     76.66 -14.2667   50.1667    Melrose

[170 rows x 6 columns]

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))